/* crossfire.css */

#crossfireIcon {
    width: 16px;
    height: 16px;
}

#crossfireIcon.running {
    list-style-image: url(chrome://crossfire/skin/crossfire-running.gif);
}

#crossfireIcon.connected {
    list-style-image: url(chrome://crossfire/skin/crossfire-connected.gif);
}

#crossfireIcon.disconnected {
    list-style-image: url(chrome://crossfire/skin/crossfire-disconnected.gif);
}

#crossfireIcon.waiting {
    list-style-image: url(chrome://crossfire/skin/crossfire-waiting.gif);
}

menuitem.hidden {
    display:none;
}

/* crossfire-panel domplate styles */

.crossfire-panel {
    background-color: white;
    padding: 10px;
}

.crossfire-panel .crossfire-image {
    float: left;
    width: 164px;
    background-image: url('chrome://crossfire/skin/crossfire-lg.png');
}

.crossfire-panel .crossfire-stuff {
    margin-left: 184px;
    font-weight: bold;
}

.crossfire-panel .crossfire-header {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #ff6500;
}

.crossfire-panel .crossfire-status {
    font-size: 1.1em;
    color: black;
}