/* crossfire.css */

#crossfireIcon {
    width: 16px;
    height: 16px;
}

#crossfireIcon.running {
    list-style-image: url(chrome://crossfire/skin/crossfire-running.gif);
}

#crossfireIcon.connected {
    list-style-image: url(chrome://crossfire/skin/crossfire-connected.gif);
}

#crossfireIcon.disconnected {
    list-style-image: url(chrome://crossfire/skin/crossfire-disconnected.gif);
}

#crossfireIcon.waiting {
    list-style-image: url(chrome://crossfire/skin/crossfire-waiting.gif);
}

menuitem.hidden {
    display:none;
}

#crossfireContextsList {
    /*  see bindings.xml */
    -moz-binding: url("chrome://firebug/content/bindings.xml#panelFileList");
}

#crossfireToolList {
    /*  see bindings.xml */
    -moz-binding: url("chrome://firebug/content/bindings.xml#panelFileList");
}