
#crossfireButton
{
    width:32px;
    height:32px;
    list-style-image: url(chrome://remote-client/skin/crossfire.png);
}

#crossfireContextsList {
    /*  see bindings.xml */
    -moz-binding: url("chrome://firebug/content/bindings.xml#panelFileList");
}

#crossfireToolList {
    /*  see bindings.xml */
    -moz-binding: url("chrome://firebug/content/bindings.xml#panelFileList");
}